<header class="layout-header layout-limiter">
  <div class="layout-header__left">
    <img class="layout-logo" src="{{ relativePath }}img/cssday-logo.svg">
  </div>
  <div class="layout-header__right">
    <div class="layout-header__year">
      <div class="layout-header__mark layout-header__mark--year">
        CSSDay 2018
      </div>
    </div>
    <div class="layout-header__title">
      <div class="layout-header__mark layout-header__mark--title">
        Workshop SASS for BEM development
      </div>
    </div>
    <div class="layout-header__teacher">
      <div class="layout-header__mark layout-header__mark--teacher">
        Vittorio Vittori
      </div>
    </div>
  </div>
</header>
