<header class="layout-header layout-limiter">
  <div class="layout-header__left">
    <img class="layout-logo" src="{{ relativePath }}img/cssday-logo.svg">
  </div>
  <div class="layout-header__right">
    <div class="layout-header__year">2018</div>
    <div class="layout-header__title">
      Workshop SASS for BEM development
    </div>
    <div class="layout-header__teacher">
      Vittorio Vittori
    </div>
  </div>
</header>
