<div class="layout-wrapper">
  <div class="layout-wrapper__row">
    <div class="layout-wrapper__infos">
      <div class="layout-wrapper__title">
        {{ blockName | capitalize | replace({'-': ' '}) }}
      </div>
    </div>
    <div class="layout-wrapper__widget">
      {% include '../blocks/' ~ blockName ~ '.twig' %}
    </div>
  </div>
</div>
