<a href="#" class="button">Default button</a>

<a class="button button--inline">Inline button</a>

<a href="#" class="button button--inline button--action">Inline action button</a>

<a href="#" class="button button--inline button--danger">Danger action inline button</a>

<a href="#" class="button button--inline button--safe">Safe action inline button</a>

<a href="#" class="button button--inline button--small">Small inline button</a>

<a href="#" class="button button--inline button--outline">Outline inline button</a>

<a href="#" class="button button--inline button--outline button--small">Outline small inline button</a>
