<div class="grid">
  <div class="grid__cell">
    This is a flexbox grid without specific cell rules
  </div>
  <div class="grid__cell">
    So contents, fits by self
  </div>
</div>

<div class="grid grid--normalize">
  <div class="grid__cell">
    This is a flexbox grid with cells of the same size
  </div>
  <div class="grid__cell">
    So contents fill the same space
  </div>
</div>

<div class="grid grid--wrap">
  <div class="grid__cell grid__cell--almost">
    This is a flexbox grid with fixed size cells
  </div>
  <div class="grid__cell">
    Really?
  </div>
  <div class="grid__cell grid__cell--fill">
    Yes, you can easily manage grids in this way, generic use like this should be used just for prototyping
  </div>
</div>
