<label class="input-radio">
  <input class="input-radio__field" type="checkbox" name="some-radio-name" value="1">
  <i class="input-radio__icon material-icons">radio_button_unchecked</i>
  <i class="input-radio__icon material-icons">radio_button_checked</i>
  <div class="input-radio__text">
    Radio button text description
  </div>
</label>
