<label class="input-text">
  <input type="text" class="input-text__field" name="" value="" placeholder="Please, insert something or go away.">
  <p class="input-text__message">
    This message should be not shown
  </p>
</label>

<label class="input-text input-text--default">
  <input type="text" class="input-text__field" name="" value="" placeholder="Please, insert something or go away.">
  <p class="input-text__message">
    This is a default message
  </p>
</label>

<label class="input-text input-text--error">
  <input type="text" class="input-text__field" name="" value="Heilo. Let's go." placeholder="Please, insert something or go away.">
  <i class="input-text__icon material-icons">mail</i>
  <p class="input-text__message">
    This is an error example
  </p>
</label>
