<label class="input-text">
  <textarea class="input-text__field input-text__field--textarea" name="name" placeholder="Please, insert something or go away."></textarea>
  <p class="input-text__message">
    This message should be not shown
  </p>
</label>

<label class="input-text input-text--default">
  <textarea class="input-text__field input-text__field--textarea" name="name" placeholder="Please, insert something or go away."></textarea>
  <p class="input-text__message">
    This is a default message
  </p>
</label>

<label class="input-text input-text--error">
  <textarea class="input-text__field input-text__field--textarea" name="name" placeholder="Please, insert something or go away."></textarea>
  <i class="input-text__icon material-icons">mail</i>
  <p class="input-text__message">
    This is an error example
  </p>
</label>
