<label class="input-checkbox">
  <input class="input-checkbox__field" type="checkbox" name="some-name" value="1">
  <i class="input-checkbox__icon material-icons">check_box_outline_blank</i>
  <i class="input-checkbox__icon material-icons">check_box</i>
  <div class="input-checkbox__text">
    Checkbox text description
  </div>
</label>

<label class="input-checkbox input-checkbox--background">
  <input class="input-checkbox__field" type="checkbox" name="some-name" value="1">
  <i class="input-checkbox__icon material-icons">check_box_outline_blank</i>
  <i class="input-checkbox__icon material-icons">check_box</i>
  <div class="input-checkbox__text">
    Checkbox text description with a background when hover
  </div>
</label>
