<span style="color: red;">
Remember to run again webpack due to a configuration fix that enables autoprefixer to get it work right
</span>

<div class="input-select">
    <select class="input-select__field">
      <option value="0">Select your destiny...</option>
      <option value="1">Chef</option>
      <option value="2">Developer</option>
      <option value="3">Famous</option>
      <option value="4">Killer</option>
      <option value="5">Lobby boy</option>
      <option value="6">Poor</option>
      <option value="7">Rich</option>
      <option value="8">Rock star</option>
    </select>
    <i class="input-select__icon material-icons">keyboard_arrow_down</i>
</div>

<div class="input-select input-select--small">
    <select class="input-select__field">
      <option value="0">Select your destiny...</option>
      <option value="1">Chef</option>
      <option value="2">Developer</option>
      <option value="3">Famous</option>
      <option value="4">Killer</option>
      <option value="5">Lobby boy</option>
      <option value="6">Poor</option>
      <option value="7">Rich</option>
      <option value="8">Rock star</option>
    </select>
    <i class="input-select__icon material-icons">keyboard_arrow_down</i>
</div>
