%layout-row {
  display: flex;
  flex-wrap: wrap;
}

%layout-column-left {
  padding: s(1);
  width: 33.3333%;

  @include media ('<tablet-small') {
    width: 100%;
  }
}

%layout-column-right {
  padding: s(1);
  width: 66.6666%;

  @include media ('<tablet-small') {
    width: 100%;
  }
}
