@include block ('button') {

  @function button($property) {
    @return get((
        'action-background': $color-curious-blue,
        'action-background-hover': mix($color-curious-blue, $color-white, 90%),
        'action-border': transparent,
        'action-border-hover': transparent,
        'action-color': $color-white,
        'action-color-hover': $color-white,
        'danger-background': $color-alizarin-crimson,
        'danger-background-hover': mix($color-alizarin-crimson, $color-white, 90%),
        'danger-border': transparent,
        'danger-border-hover': transparent,
        'danger-color': $color-white,
        'danger-color-hover': $color-white,
        'default-background': $color-scorpion,
        'default-background-hover': $color-tundora,
        'default-border': transparent,
        'default-border-hover': transparent,
        'default-color': $color-white,
        'default-color-hover': $color-white,
        'outline-background': $color-white,
        'outline-background-hover': $color-white,
        'outline-border': $color-tundora,
        'outline-border-hover': mix($color-curious-blue, $color-white, 90%),
        'outline-color': $color-tundora,
        'outline-color-hover': $color-tundora,
        'safe-background': $color-atlantis,
        'safe-background-hover': mix($color-atlantis, $color-white, 90%),
        'safe-border': transparent,
        'safe-border-hover': transparent,
        'safe-color': $color-tundora,
        'safe-color-hover': $color-tundora
    ), $property);
  }

  @mixin button-modifier ($modifier) {
    @include modifier ($modifier) {
      background-color: button('#{$modifier}-background');
      border-color: button('#{$modifier}-border');
      color: button('#{$modifier}-color');

      &:hover {
        background-color: button('#{$modifier}-background-hover');
        border-color: button('#{$modifier}-border-hover');
        color: button('#{$modifier}-color-hover');
      }
    }
  }

  $height-default: 40px;
  $height-small: 30px;

  @extend %small-text;

  align-items: center;
  background-color: button('default-background');
  border: 1px solid transparent;
  border-radius: radius('small');
  color: button('default-color');
  cursor: pointer;
  display: flex;
  font-family: $font-family-sans;
  height: $height-default;
  justify-content: center;
  padding: 0 s(0.5);
  text-decoration: none;
  transition: color tween('hover'), background-color tween('hover');
  user-select: none;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: button('default-background-hover');
  }

  @include element ('icon') {
    &:first-child {
      margin-right: s(0.25);
    }

    &:last-child {
      margin-left: s(0.25);
    }
  }

  @include modifier ('inline') {
    display: inline-flex;
    padding: 0 s(1);
    white-space: nowrap;
    width: auto;
  }

  @include modifier ('small') {
    height: $height-small;
    padding-left: s(0.5);
    padding-right: s(0.5);
  }

  @include modifier ('icon') {
    display: inline-flex;
    height: auto;
    padding: s(0.25);
    white-space: nowrap;
    width: auto;

    @include element('icon') {
      margin: 0;
    }
  }

  @include element('icon') {
    margin-right: s(0.5);
  }

  @include button-modifier('action');
  @include button-modifier('danger');
  @include button-modifier('default');
  @include button-modifier('outline');
  @include button-modifier('safe');
}
