@include block ('button') {

  $default-background: $color-scorpion;
  $default-background-hover: $color-tundora;
  $default-text: $color-white;

  $action-background: $color-curious-blue;
  $action-background-hover: mix($color-curious-blue, $color-tundora, 80%);
  $action-text: $color-white;

  $outline-background: $color-white;
  $outline-border: $color-scorpion;
  $outline-border-hover: $color-tundora;
  $outline-text: $color-scorpion;
  $outline-text-hover: $color-white;

  $height-default: 40px;
  $height-small: 30px;

  align-items: center;
  background-color: $default-background;
  border: 1px solid transparent;
  border-radius: radius('button');
  color: $default-text;
  cursor: pointer;
  display: flex;
  font-family: $font-family-sans;
  font-size: 14px;
  font-weight: 300;
  height: $height-default;
  justify-content: center;
  padding: 0 s(0.5);
  text-decoration: none;
  transition: color tween('hover'), background-color tween('hover');
  user-select: none;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $default-background-hover;
  }

  @include element ('icon') {
    &:first-child {
      margin-right: s(0.25);
    }

    &:last-child {
      margin-left: s(0.25);
    }
  }

  @include modifier ('inline') {
    display: inline-flex;
    padding: 0 s(1);
    white-space: nowrap;
    width: auto;
  }

  @include modifier ('small') {
    height: $height-small;
    padding-left: s(0.5);
    padding-right: s(0.5);
  }

  @include modifier ('icon') {
    display: inline-flex;
    height: auto;
    padding: s(0.25);
    white-space: nowrap;
    width: auto;

    @include element('icon') {
      margin: 0;
    }
  }

  @include element('icon') {
    margin-right: s(0.5);
  }

  @include modifier ('outline') {
    background-color: $outline-background;
    border-color: $outline-border;
    color: $outline-text;

    &:hover {
      border-color: $outline-border-hover;
      color: $outline-text-hover;
    }
  }

  @include modifier ('action') {
    background-color: $action-background;
    color: $action-text;

    &:hover {
      background-color: $action-background-hover;
      color: $action-text;
    }
  }
}
