@include block ('input-radio') {

  $icon-hover-color: $color-curious-blue;
  $hover-background: rgba($color-curious-blue, 0.15);

  align-items: flex-start;
  border-radius: radius('medium');
  display: inline-flex;
  transition: background-color tween('hover');

  &:hover {
    @include element ('icon') {
      color: $icon-hover-color;
    }
  }

  @include element ('field') {
    display: none;

    & + .input-radio__icon {
      display: inline-block;
    }

    & + .input-radio__icon + .input-radio__icon {
      color: $icon-hover-color;
      display: none;
    }

    &:checked {
      & + .input-radio__icon {
        display: none;
      }

      & + .input-radio__icon + .input-radio__icon {
        display: inline-block;
      }
    }
  }

  @include element ('text') {
    @extend %small-text;
    cursor: pointer;
    padding: 4px 4px 4px 0;
  }

  @include element ('icon') {
    cursor: pointer;
    margin-right: s(0.25);
    transition: color tween('hover');
  }

}
