@include block ('layout-header') {

  @extend %layout-row;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  user-select: none;

  @include element ('left') {
    @extend %layout-column-left;
  }

  @include element ('right') {
    @extend %layout-column-right;
  }

  @include element ('mark') {
    @extend %mark;

    @include modifier ('year') {
      border-radius: radius('small') radius('small') 0 0;
      margin-bottom: s(-0.25);
    }

    @include modifier ('title') {
      border-radius: 0 radius('small') radius('small') 0;
    }

    @include modifier ('teacher') {
      border-radius: 0 0 radius('small') radius('small');
    }
  }

  @include element ('year') {
    @extend %large-title;
  }

  @include element ('title') {
    font-weight: font-weight('bold');
  }

  @include element ('teacher') {
    font-weight: font-weight('bold');
  }
}
