@include block ('layout-wrapper') {
  $wrapper-border: 2px solid $color-tundora;

  border-top: $wrapper-border;
  margin-bottom: s(4);

  @include element ('row') {
    display: flex;
    margin-left: s(-1);
    margin-right: s(-1);
  }

  @include element ('infos') {
    @extend %layout-column-left;
  }

  @include element ('widget') {
    @extend %layout-column-right;

    align-items: flex-start;
    display: flex;
    flex-direction: column;

    > * + * {
      margin-top: s(1);
    }
  }

  @include element ('title') {
    font-size: font-size('big');
    font-weight: font-weight('bold');
    letter-spacing: -2px;
  }
}
