
$font-family-sans: helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: menlo, monaco, 'courier new', monospace;

$color-alizarin-crimson: #df2d2a;
$color-atlantis: #93d824;
$color-carrot-orange: #e88c1f;
$color-curious-blue: #1c79dc;
$color-cyan-aqua: #2dfefe;
$color-scorpion: #595959;
$color-tundora: #404040;
$color-white: #fff;

$horizontal-border: 2px solid $color-tundora;
