
$font-family-sans: helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: menlo, monaco, 'courier new', monospace;

$color-cyan-aqua: #2dfefe;
$color-scorpion: #595959;
$color-white: #fff;
